<section>
  <h1>Festivals Show</h1>

  <input type="text" value="" ng-model="searchBox">
  <button ui-sref="festivalsIndex({ q: q })" >Show All festivals</button>
  <ul>
    <li ng-repeat="festival in festivalsIndex.all | filter:searchBox">
      <a ui-sref="festivalsShow({ id: festival.id })">
      <h2>{{ festival.festival_name }}</h2>
      <h4>{{ festival.cost }}</h4>
      <h4>{{ festival.start }}</h4>
      <h4>{{ festival.finish }}</h4>
      <h4>{{ festival.minimum_age }}</h4>
      <h4>{{ festival.location }}</h4>
      <h4>{{ festival.details }}</h4>
      <h4>{{ festival.image }}</h4>
    </a>
    </li>
  </ul>
</section>
