
<div class="festivals-showpage-image-box">
    <img class="festivals-showpage-image" ng-src= "{{ festivalsShow.festival.image }}">
</div>

<div class="col-md-7">
  <div class="no-span">
    <h1 style="text-align: center;">{{ festivalsShow.festival.festival_name }}</h1>
  </div>

  <h4>Location: {{ festivalsShow.festival.location }}</h4>
  <h4>Start: {{ festivalsShow.festival.start }}</h4>
  <h4>Finish: {{ festivalsShow.festival.finish }}</h4>
  <h4>cost: £{{ festivalsShow.festival.cost }}</h4>
  <h4>Minimum age: {{ festivalsShow.festival.minimum_age }}</h4>

  <h4>Info: {{ festivalsShow.festival.details }}</h4>
<hr>
<form ng-submit="festivalsShow.favorite()">
  <button class=btn btn-primary btn-large>Favourite this festival</button>
</form>

<hr>

<h4>Members who are interested in this festival </h4>

</ul>
  <li class="users-interested-list" ng-repeat="user in festivalsShow.festival.users">
    <a ui-sref="usersShow({ id: user.id })">
    <img class="users-interested-festival-image" ng-src="{{ user.image }}">
    <h5>{{ user.username }}</h5>
  </a>
  </li>
</ul>

<hr>


<h4>Post a Comment here </h4>

<form ng-submit="festivalsShow.add()">
  <input class="form-control input-xs" type="text" name="title" placeholder="Enter new title" ng-model="festivalsShow.comment.title" class="u-full-width">

  <input class="form-control input-xs" type="text" name="body" placeholder="Enter comment here" ng-model="festivalsShow.comment.body" class="u-full-width">
  <hr>
  <button class=btn btn-lg>Post comment</button>
</form>

<hr>

<div class="comments">

  <h4>Comments </h4>

</ul>
  <li ng-repeat="comment in festivalsShow.festival.comments">
    <h5>Title: {{ comment.title }}</h5>
    <h5>Comment Date: {{ comment.created_at | date : 'mediumDate' }}</h5>
    <p>{{ comment.body }}</p>
    <p><strong>{{ comment.user.username }}</strong></p>
    <hr>
  </li>
</ul>

</div>


<br>
<hr>
<h4>Edit Festival Details</h4>
  <button class=btn btn-primary btn-large ng-if= "main.isLoggedIn()" ui-sref="festivalsEdit({ id: festivalsShow.festival.id })" class="button">Edit</button>
  <button class=btn btn-primary btn-large ng-if= "main.isLoggedIn()" ng-click="festivalsShow.delete()">Delete</button>
</section>
<hr>

</div>

<div class="col-md-5">

<!-- <div class="map-position"> -->
  <h4 style="text-align:center;">Event Location</h4>
  <hr>
  <google-map center="{lat: festivalsShow.festival.latitude, lng: festivalsShow.festival.longitude }" ng-if="festivalsShow.festival.latitude"></google-map>
</div>
<!-- </div> -->
