

<!-- <div class="col-md-2">&nbsp</div> -->

    <div class="col-md-9">


      <h1 class="no-span" style="text-align: center; font-size:50px; margin-top:80px;">Festivals Results</h1>

                <div style="margin-top:30px;" class="form-section">
                  <div class="row">
                      <form role="form">
                        <div class="col-md-10">
                          <div class="form-group">
                            <label class="sr-only" for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Where ?" ng-model="q">
                          </div>
                        </div>

                        <div class="col-md-2">
                          <button class=btn btn-large ui-sref="festivalsIndex({ q: q })">Search</button>
                        </div>
                      </form>
                  </div>
                </div>


      <div class="festival-display-results-bar">
        <p>Please see results below</p>
      </div>

      <div class="festivals-display-box">
        <ul style="padding:0">
          <li class="" ng-repeat="festival in festivalsIndex.all | filter:searchBox">
            <a ui-sref="festivalsShow({ id: festival.id })">
              <div class="row">
                <div class="festival-display-page col-xs-5">
                  <img ng-src="{{ festival.image }}">
                </div>

                <div class="festival-display-page list panel space-4 col-xs-7">
                  <h2>{{ festival.festival_name }}</h2>
                  <p style="font-size:20px;"><strong>Location:</strong> {{ festival.location }}</p>
                  <p><strong>start:</strong> {{ festival.start }}</p>
                  <p><strong>Finish:</strong> {{ festival.finish }}</p>
                  <p><strong>Cost:</strong> £{{ festival.cost }}</p>
                  <p><strong>Minimum Age:</strong> {{ festival.minimum_age }}</p>
                  <br>
                  <p><strong>click for more details</strong> </p>
                </div>
              </div>
            </a>
            <hr>
          </li>
        </ul>

      </div>

    </div>


  <div class="col-md-3">
    <p style="text-align:center; margin-top: 60px;">Advertising here!</p>

      <div class="festival-display-page-video">
    </div>

  </div>
