
<h1 style="margin-top:70px; text-align:center;">Login</h1>

  <form style="margin-top:30px;" novalidate ng-submit="login.submit()">
    <div>
      <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="email" placeholder="Email" ng-model="login.credentials.email">
    </div>
    <div>
      <input style="margin-bottom:20px;text-align:center;"class="form-control input-lg" type="password" placeholder="Password" ng-model="login.credentials.password">
    </div>

    <button class="btn btn-lg btn-block">Login</button>
  </form>
