
<h1 style="margin-top:70px; text-align:center;">Register</h1>

<form style="margin-top:30px;" novalidate ng-submit="register.submit()">
  <div>
    <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="text" placeholder="Username" ng-model="register.user.username">
  </div>
  <div>
    <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="email" placeholder="Email" ng-model="register.user.email">
  </div>
  <div>
    <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="password" placeholder="Password" ng-model="register.user.password">
  </div>
  <div>
    <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">
  </div>

  <button class="btn btn-lg btn-block">Register</button>
</form>
