<div class="row">

  <div class="col-md-3">
    <!-- <div style:"margin-top:80px;"> -->
      <div class="profile-box">
        <img ng-src="{{ usersShow.user.image }}" height="200px" width="200px" style="border-radius:100px; border:solid 1px black;">
        <p style="text-align:center;">{{ usersShow.user.username }}</p>
        <p style="text-align:center;">{{ usersShow.user.email }}</p>
        <div class="buttons">
          <button class=btn btn-large ng-if= "usersShow.isCurrentUser()" && "usersShow.isLoggedIn()"  ui-sref="usersEdit({ id: usersShow.user.id })">Edit</button>
          <button class=btn btn-large ng-if= "usersShow.isCurrentUser()" && "usersShow.isLoggedIn()"  ng-click="usersShow.delete()">Delete</button>
        </div>
      </div>
    <!-- </div> -->
  </div>

  <div class="col-md-8">
    <div class="bio panel">
      <div class="profile-bio">
        <h4>Bio</h4>
        <hr>
      <p>{{ usersShow.user.bio }}</p><br>
    </div>
    <button class=btn btn-large ng-if= "usersShow.isCurrentUser()" && "usersShow.isLoggedIn()"  ui-sref="usersEdit({ id: usersShow.user.id })">Edit</button>
  </div>
  <hr>
    <div class="panel space-4">

      <h4>Favourite Events</h4>
      <hr>
      <ul style="margin:0; padding:0" class="row">
        <li class="profile-favourites-list col-xs-4" ng-repeat="festival in usersShow.user.festivals">
          <a ui-sref="festivalsShow({ id: festival.id })">
            <!-- <div class="profile-festival-image" style="background-image:url('{{ festival.image}}')"></div> -->
            <img ng-src="{{ festival.image}}" alt="">
            <p style="text-align:center;">{{ festival.festival_name }}</p>
          </a>
          <button class=btn btn-primary btn-large ng-click="usersShow.unfavorite(festival)" ng-if= "usersShow.isCurrentUser()" && "usersShow.isLoggedIn()">Remove festival</button>
        </li>
      </ul>
    </div>
    <hr>
    <div class="panel space-4">
      <h4>Comments on festivals</h4>
      <hr>
      <ul style="margin:0; padding:0">
        <li ng-repeat="comment in usersShow.user.comments">
          <p> {{ comment.festival_ids.festival_name }}
          <p>Title: {{ comment.title }}</p>
          <p>{{ comment.body }}</p>
          <hr>
        </li>
      </ul>
    </div>

    <h4>You Can search for festivals from your Profile </h4>

    <div style="margin-top:30px;" class="form-section">
      <div class="row">
          <form role="form">
            <div class="col-md-10">
              <div class="form-group">
                <label class="sr-only" for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Go find your festival!" ng-model="q">
              </div>
            </div>

            <div class="col-md-2">
              <button class=btn btn-large ui-sref="festivalsIndex({ q: q })">Search</button>
            </div>
          </form>
      </div>
    </div>

  </div>

  <div class="col-md-1">&nbsp</div>

</div>
