<section class="row">
  <form ng-submit="usersEdit.update()">
    <div class="twelve columns">
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter new Username" ng-model="usersEdit.user.username" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Email</label>
      <input type="text" name="email" placeholder="Change Email here" ng-model="usersEdit.user.email" class="u-full-width">
    </div>

    <button>Update</button>
  </form>
</section>
