<div class="row">

  <div class="col-md-3">
    <div class="panel space-4">
      <div class="profile-image">
        <h4>{{ usersShow.user.image }}</h4>
      </div>
      <div class="panel-body">
        <h4>{{ usersShow.user.username }}</h4>
        <h4>{{ usersShow.user.email }}</h4>
        <button><a ng-if= "usersShow.isCurrentUser()" && "usersShow.isLoggedIn()"  ui-sref="usersEdit({ id: usersShow.user.id })" class="button">Edit</a></button>
        <button ng-if= "usersShow.isCurrentUser()" && "usersShow.isLoggedIn()"   ng-click="usersShow.delete()">Delete</button>
      </div>
    </div>
  </div>

  <div class="col-md-9">

    <div class="panel space-4">
      <p>{{ festival.bio }}</p>
      <button><a ng-if= "usersShow.isCurrentUser()" && "usersShow.isLoggedIn()"  ui-sref="usersEdit({ id: usersShow.user.id })" class="button">Edit</a></button>
    </div>

    <div class="panel space-4">
      </ul>
        <li ng-repeat="festival in usersShow.user.festivals">
          <a ui-sref="festivalsShow({ id: festival.id })">
            <p>{{ festival.festival_name }}</p>
            <p>{{ festival.location }}</p>
            <p>{{ festival.cost }}</p>
            <img ng-src ="{{ festival.image}}">
          </a>
          <button ng-click="usersShow.unfavorite(festival)">Remove this festival from  favorites!</button>
        </li>
      </ul>
    </div>

    <div class="panel space-4">
      <p>{{ festival.comment }}</p>
    </div>

  </div>

</div>
