<div class="col-md-12 home-title">
  <h1><span class="home-festiivo">FESTIIVO</span> Welcome to the niche festivals site!</h1>
</div>

<div class="col-md-12 input-group stylish-input-group">
<!-- <div class="col-md-12 home-searchBar"> -->
<form>
  <input class="form-control" placeholder="Search" ng-model="q">
  <span class="input-group-addon">
  <button ui-sref="festivalsIndex({ q: q })">Search</button>
  </span>
</form>
<span class="input-group-addon">
  <button ui-sref="festivalsIndex">Show All festivals</button>
  </span>
</div>

<div class="col-md-12 home-recommend">
      <h2>Please see other recommended festivals</h2>
      <ul>
        <li class="home-list" ng-repeat="festival in festivalsIndex.featured">
          <a ui-sref="festivalsShow({ id: festival.id })">
            <img class="image-home" ng-src="{{ festival.image }}">
            <p>{{ festival.festival_name }}</p>
            <p>{{ festival.location }}</p>
          </a>
        </li>
      </ul>
</div>
