

<h1 style="margin-top:70px; text-align:center;">Edit Profile</h1>

    <form ng-submit="usersEdit.update()">

        <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="text" name="username" placeholder="Enter new Username" ng-model="usersEdit.user.username" class="u-full-width">

        <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="text" name="email" placeholder="Change Email here" ng-model="usersEdit.user.email" class="u-full-width">

        <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="text" name="image" placeholder="Upload image here" ng-model="usersEdit.user.image" class="u-full-width">

        <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="text" name="image" placeholder="update first name here" ng-model="usersEdit.user.first_name" class="u-full-width">

        <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="text" name="image" placeholder="update last name here" ng-model="usersEdit.user.last_name" class="u-full-width">

        <input style="margin-bottom:20px;text-align:center;" class="form-control input-lg" type="text" name="image" placeholder="update your Bio here" ng-model="usersEdit.user.bio" class="u-full-width">

      <button class="btn btn-lg btn-block">Update</button>
    </form>
