@import 'vendor';


// main controller- whole site functions
body{
  background-color: white;
  color: #484848;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

.google-map {
  width: 100%;
  height: 800px;
}

// .map-position  {
//     width: 100%;
//     // height: 100%;
//     position: fixed;
// }


img {
  max-width: 100%;
}

a {
  text-decoration: none;
  margin-right: 50px;
  color: grey;
}

a:hover {
  text-decoration: none;
  color: grey;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.navbar-text {
  font-size: 15px;
  color: white;
  margin-right: 20px;
}

li {
  list-style-type: none;
}

button {
  background-color: #FF5A5F;
  color: white;
}
// homepage styling

.home-list{
  display: inline-block;
  padding-right: 10px;
}

.home-title {
  // text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

.home-festiivo {
  color: #FF5A5F;
  line-height: 35px;
}

.home-recommend {
  text-align: center;
  display: inline;
  width: 1000px;
}

.recommended-festivals {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 270px;
}

.searchBar {
  margin-bottom: 20px;
}

.image-home {
  height: 300px!important;
  width: 300px!important;
}


.festivals-homepage-image {
  background-image: url("https://source.unsplash.com/collection/403065/1600x900
");
  // background-image: url("http://www.holione.com/tl_files/img/galleries/_mixed/HOLI%20ONE_10.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// searchbar on homepage styling

.carousel {
  height: 400px;
  margin-bottom: 60px;
}
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.search {
	margin-top: -20%;
}


.search .form-section{
	background:rgba(0,0,0,0.6);
	border: 2px solid #414141;
	border-radius: 5px;
	padding: 10px;
}





// profile page styling

.profile-box {
  margin-top: 80px;
}

.buttons {
  button {
    width: calc(50% - 5px);
    float: left;
    &:first-of-type {
      margin-right: 10px;
    }
  }

}


.profile-bio {
margin-top: 80px;
}

.bio {
  padding-bottom: 20px;
}

.user-profile-form-update {
  margin-top: 100px;
}

.profile-display-results-bar {
  background-color: #484848;
  color: white;
  text-align: center;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  margin-top: 30px;
}

.profile-favourites-list {
  display: inline-block;
  padding-right: 10px;
}

// .profile-festival-image {
//   background-size: cover;
//   background-position: center;
//   &:after {
//     content: "";
//     display: block;
//     padding-bottom: 100%;
//   }
// }


// festivals display page

.festival-display-page {
  // display: inline-block;
  // margin-right:20px;
  margin-bottom:20px;
  p {
    line-height: 1.1;
  }
  // line-height: 3px;
  // border: solid 1px black;
  // width: 200px;
  // height: 200px;
}

.festival-display-results-bar {
  background-color: #484848;
  color: white;
  text-align: center;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.festival-display-page-video {
  width: 300px;
  height: 600px;
  position: fixed;
  background-image: url("https://www.nabaleka.com/wp-content/uploads/2015/09/Nabaleka-Web-Design.png");
  // margin-bottom: 20px;
}

// .festival-display-page-video-two{
//   width: 300px;
//   height: 250px;
//   position: fixed;
//   background-image: url("http://missouribusinessalert.com/wp-content/uploads/2012/05/ad300.gif");
// }

// .container-Index{
//   position: absolute;
// }


.no-span {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 3px solid black;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}


// festivals show profile-image


.festivals-showpage-image {
  width: 100%!important;
  height: 400px;
  margin-bottom: 20px;
}

.users-interested-festival-image {
  width: 100px!important;
  height: 100px!important;
}

.users-interested-list{
  display: inline-block;
}


// festivsl edit page

.festival-edit-form {
  margin-top: 100px;
}




// Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
