@import 'vendor';


// main controller- whole site functions
body{
  background-color: white;
  color: #484848;
}

.google-maps {
  width: 400px;
  height: 400px;
}

img {
  height: 200px;
  width: 200px;
}

a {
  text-decoration: none;
  margin-right: 10px;
  color: grey;
}

a:hover {
  text-decoration: none;
  color: grey;
}

.navbar {
  background-color: white;
}

.navbar-text {
  font-size: 15px;
  color: white;
  margin-right: 20px;
}

li {
  list-style-type: none;
}

button {
  background-color: #FF5A5F;
}
// homepage styling

.home-list{
  display: inline-block;
  padding-right: 10px;
}

.home-title {
  // text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

.home-festiivo {
  color: #FF5A5F;
}

.home-recommend {
  text-align: center;
  display: inline;
  width: 1000px;
}

.recommended-festivals {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 270px;
}

.searchBar {
  margin-bottom: 20px;
}

.image-home {
  height: 300px!important;
  width: 300px!important;
}

// searchbar on homepage styling

.carousel {
  height: 400px;
  margin-bottom: 60px;
}
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.search {
	margin-top: -25%;
}
.search .form-section{
	background:rgba(0,0,0,0.6);
	border: 2px solid #414141;
	border-radius: 5px;
	padding: 10px;
}








// profile page styling

.profile-box {
  height:200px;
  width: 150px;
  border: solid 2px black;
}

.profile-image {
  height:150px;
  width: 150px;
}

.profile-bio {
  height:200px;
  width: 400px;
  border: solid 2px black;
}
.bio {
  padding-bottom: 20px;
}


// festivals display page

.festival-display-page {
  display: inline-block;
  margin-right:20px;
  margin-bottom:20px;
  line-height: 10px;
  // border: solid 1px black;
  // width: 300px;
  // height: 300px;
}

.festival-display-results-bar {
  background-color: #484848;
  color: white;
  text-align: center;
  width: 100%;
  height: inherit;
}

.no-span {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 3px solid black;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

// .left {
//   float: left;
// }
//
// .right {
//   float: right;
// }
// .festival-display-list {
//   display: inline-block;;
// }
